*{
    padding: 0% auto;
    margin: 0% auto;
    font-size: 10px;
    
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

section{
    background-color: black;
    

}
.main{
    display: flex;
    background-color: rgb(227,234,220);
    height: 100vh;
    width: 630px;
}
.right{
    background-color: aliceblue;
    width: 500px;
    height: 700px;
    position: relative;
    top: 2rem;
    right: 2rem;
   


}
.left{
    height: 550px;
    width: 500px;
    background-color: rgb(227,234,220);
    position: relative;
    top: 3rem;
    

}
.image img{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid white;
    margin-left: 35px;

}
.txt p{
    font-family: "Martel Sans", sans-serif;;
    margin-left: 35px;
}
.second p{
    font-family: "Martel Sans", sans-serif;;
    margin-left: 55px;
}
.icon p{
    margin-left: 35px;
}

.icon::after{
    content: "";
    display: block;
    height: 2px;
    width: 180px;
    background-color: black;
}
.icon::after{
    margin-top: 20px;
    margin-left: 35px; 
}
.project{
    font-family: "Martel Sans", sans-serif;;
    margin-left: 35px;  
}
.project::after{
    content: "";
    display: block;
    height: 2px;
    width: 180px;
    background-color: black; 
}
.coding{
    margin-left: 35px;
    font-family: "Martel Sans", sans-serif;;
}
.coding p{
    font-family: "Martel Sans", sans-serif;;
}
.first{
    font-size: 60px;
    margin-left: 35px;
    margin-top: 30px;
    font-family: "Martel Sans", sans-serif;;
}
.second{
    margin-left: -20px;
    margin-top: 30px;
    font-family: "Martel Sans", sans-serif;;
}
.profile{
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;;
    margin-left: 38px;
}
.content{
    font-size: 15px;
    font-family: "Martel Sans", sans-serif;;
    margin-left: 37px;
}
.ui{
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;;
    margin-left: 35px; 
}
.front{
    margin-left: 35px;
    font-family: "Martel Sans", sans-serif;;
    font-size: 18px  
}
.items{
    font-family: "Martel Sans", sans-serif;;
    font-size: 15px;
    margin-left: -3px;
}
.last{
    margin-left: 35px;
    margin-top: 30px;
    font-family: "Martel Sans", sans-serif;;
}
.finish{
    font-family: "Martel Sans", sans-serif;; 
    margin-left: -3px;
}
.finish::after{
    content: "";
    display: block;
    background-color: black;
    height: 2px;
    width: 250px;
    margin-left: 40px;
}
.final{
    font-size: 18px;
    font-family: "Martel Sans", sans-serif;; 
    margin-left: 35px;
}
.in{
    font-family: "Martel Sans", sans-serif;; 
    font-size: 15px;
    margin-left: 35px;
}
.emmet{
    font-family: "Martel Sans", sans-serif;; 
}